.fondo{
    background-color: black;
    border-radius: 10px;
    border: 3px solid rgb(37, 37, 37);
    margin: 100px;
    padding: 10px;
    font-size: 50px;
}

 .digito{
    background-color: rgb(22, 22, 22);
    margin: 5px 5px;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    border: 2px solid grey;
} 